.subscription-wrapper {
    margin: 20px ;
  }
  
  .jumbotron {
    background-color: #f8f9fa;
    padding: 10px;
  }
  
  .jumbotron h1 {
    margin: 0;
    color: #333;
  }
  
  .subscription-content {
    padding: 10px;
  }
  
  .card {
    display: flex;
    overflow-x: auto;
    align-content: space-evenly
  }
  
  .plan-cards {
    display: flex;
    
  }
  
  .plan-card {
    margin-right: 10px;
  }
  
  .subscriptions-container{
    margin: 3rem;
    padding: 3rem;
  }
  .error{
    margin: 2rem 2rem 0 2rem;
  }