/* .center {
    height: 100%; /* Ensure full height of the viewport *
  margin: 0; /* Remove default margin *
  display: flex;
  justify-content: center; /* Center horizontally *
  align-items: center; /* Center vertically 
} */