<mat-card class="custom-card">
    <mat-card-header>
        <mat-card-title>
            <input type="text" [(ngModel)]="subscriptionName" class="subscription-name-input">
        </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="plan">
        <p>
            <span class="label">Plan Name:</span> <input type="text" [(ngModel)]="plan.planName" class="input-field">
        </p>
        <p>
            <span class="label">Price:</span> <input type="number" [(ngModel)]="plan.price" class="input-field">
        </p>
        <p>
            <span class="label">Duration:</span> <input type="text" [(ngModel)]="plan.duration" class="input-field">
        </p>
        <p>
            <span class="label">Upgradable:</span> <input type="checkbox" [(ngModel)]="plan.upgradable"
                class="checkbox-field">
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngIf="editable" (click)="onBuyClick()" class="save-button">Save</button>
    </mat-card-actions>
</mat-card>


<!-- <mat-card>
    <mat-card-header>
      <mat-card-title>Name</mat-card-title>
      <mat-card-subtitle>Plans</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Price: 199</p>
      <p>Duration: 1</p>
      <p>Upgradable: false</p>
    </mat-card-content>
    <mat-card-actions>
      <mat-slide-toggle [(ngModel)]="activated">Activated</mat-slide-toggle>
    </mat-card-actions>
  </mat-card>
   -->