<!-- <mat-card class="custom-card">
    <mat-card-header>
        <mat-card-title>
            <input type="text" [(ngModel)]="subscriptionName" class="subscription-name-input">
        </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="plan">
        <p>
            <span class="label">Plan Name:</span> <input type="text" [(ngModel)]="plan.planName" class="input-field">
        </p>
        <p>
            <span class="label">Price:</span> <input type="number" [(ngModel)]="plan.price" class="input-field">
        </p>
        <p>
            <span class="label">Duration:</span> <input type="text" [(ngModel)]="plan.duration" class="input-field">
        </p>
        <p>
            <span class="label">Upgradable:</span> <input type="checkbox" [(ngModel)]="plan.upgradable"
                class="checkbox-field">
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngIf="editable" (click)="onBuyClick()" class="save-button">Save</button>
    </mat-card-actions>
</mat-card>

 -->

<mat-card class="custom-card">
    <mat-card-header>
        <mat-card-title>
            {{ subscriptionName | capitalize }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="plan">
        <mat-form-field class="input-field">
            <input matInput [(ngModel)]="plan.planName" placeholder="Plan Name">
        </mat-form-field>
        <mat-form-field class="input-field">
            <input matInput [(ngModel)]="plan.price" type="number" placeholder="Price">
        </mat-form-field>
        <mat-form-field class="input-field">
            <input matInput [(ngModel)]="plan.duration" placeholder="Duration">
        </mat-form-field>
        <div class="centered">
            <mat-checkbox [(ngModel)]="plan.upgradable" class="checkbox-field">Upgradable</mat-checkbox>
        </div>
    </mat-card-content>
    <mat-card-actions class="centered">
        <button mat-raised-button color="primary" *ngIf="editable" (click)="onBuyClick()" class="save-button">Save</button>
    </mat-card-actions>
</mat-card>
