<mat-card class="example-card">
    <mat-card-header class="header">
        <mat-card-title>{{plan.planName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <div class="info">
            <p class="price mat-body-1">Price: {{plan.price}}</p>
            <p class="duration mat-body-1">Duration: {{plan.duration}}</p>
        </div>
    </mat-card-content>
    <mat-card-actions class="actions">
        @if (buyTitle !== "") {
            <button mat-raised-button color="primary" (click)="onBuyClick()">{{buyTitle | capitalize}}</button>
        }
        @if (upgradeTitle !== "") {
            <button mat-raised-button color="primary" (click)="onUpgradeClick()">{{upgradeTitle | capitalize}}</button>
        }
        @if (removeTitle !== "") {
            <button mat-raised-button color="warn" (click)="onCancelClick()">{{removeTitle | capitalize}}</button>
        }
    </mat-card-actions>
</mat-card>