<ng-container class="add-subscription-container">
    <div class="button-container">
        <button mat-raised-button class="new-subscription" color="primary" (click)="addNewSubscription()">Add New
            Subscription</button>
        <button mat-raised-button class="new-subscription" color="primary" (click)="logOut()">Logout</button>
    </div>
</ng-container>

<ng-container *ngFor="let subscription of subscriptions">
    <mat-card class="subscription-card" raised>
        <div class="header">
            <h2>{{subscription.subscriptionName | capitalize}}</h2>
            <button mat-icon-button color="primary" class="add-plan-button" matTooltip="Add Plan"
                (click)="addNewPlan(subscription.subscriptionId, subscription.subscriptionName)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="plan-container">
            <ng-container *ngFor="let plan of subscription?.plans">
                <app-card [title]="'Edit'" [plan]="plan" [editable]="editable"
                    (buyEvent)="subscription && buyEvent(subscription.subscriptionId, subscription.subscriptionName, plan)"></app-card>
            </ng-container>
        </div>
    </mat-card>
</ng-container>