<div class="container">
    <h2>Add New Subscription</h2>
    <form [formGroup]="newPlanForm" (ngSubmit)="submitForm()" class="form-container">
        <mat-form-field class="form-field">
            <mat-label>Subscription Name</mat-label>
            <input matInput formControlName="subscriptionName">
        </mat-form-field>
        
        <mat-form-field class="form-field">
            <mat-label>Plan Name</mat-label>
            <input matInput formControlName="planName">
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" type="number">
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Duration</mat-label>
            <input matInput formControlName="duration" type="number">
        </mat-form-field>

        <div class="">
            <mat-checkbox class="form-field" formControlName="upgradable">Upgradable</mat-checkbox>
        </div>

        <div class="centered">
            <button mat-raised-button color="primary" type="submit" [disabled]="newPlanForm.invalid">Submit</button>
            <button mat-raised-button color="primary" type="button" (click)="newPlan()" [disabled]="newPlanForm.invalid">Add Another Plan</button>
        </div>
    </form>
</div>